/ANN_Experiments/algorithms/FLANN/Centroids/
/ANN_Experiments/algorithms/FLANN/index_
/data/raw_data/
/data/wdbc_train_test_set.hdf5
/data/NYtaxis_train_test_set.hdf5
/data/NYtimes_train_test_set.hdf5
/data/GLOVE_train_test_set.hdf5
/data/GLOVE10000_train_test_set.hdf5
/data/GLOVE100000_train_test_set.hdf5
/data/MNIST_train_test_set.hdf5
/data/MovieLens10m-jaccard.hdf5
/data/municipios_train_test_set.hdf5
/data/MovieLens_train_test_set.hdf5
/data/kosarak_train_test_set.hdf5
/ANN_Experiments/NearestNeighbors/gaussian-clouds-npc200-True/
/ANN_Experiments/logs/gaussian-clouds-npc200-True/
/ANN_Experiments/config/gaussian-clouds-npc200-True/
/ANN_Experiments/algorithms/FLANN/flann/
.idea
/ANN_Experiments/algorithms/IVF/
/PDASC/pdasc_DataFrames_.py
/publications/

